{% extends "layout.html" %}
{% block title %}
SuperPose
{% endblock %}
{% block body %}
<!-- <h1>And the Winner is...</h1>
   {% if winner == 1 %}
   <img src="https://avatars3.githubusercontent.com/u/21177635?s=460&v=4">
   {% else %}
   <img src="https://avatars0.githubusercontent.com/u/10219100?s=460&v=4">
   {% endif %} -->
<header class="masthead">
   <div class="container h-100">
      <div class="row h-100">
         <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
               <h1 class="mb-5">And the WINNER is... MARIA!<br><br><img src="{{ url_for('static', filename='../static/img/superpose_logo.png') }}" height="300"><br></h1>
               <a href="#demo" class="btn btn-outline btn-xl js-scroll-trigger">See the demo!</a>
            </div>
         </div>
         <div class="col-lg-5 my-auto">
            <div class="device-container">
               <div class="device-mockup iphone6_plus portrait white">
                  <div class="device">
                     <div class="screen">
                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                        <img src="{{ url_for('static', filename='../static/img/demo-screen-2.png') }}" class="img-fluid" alt="">
                     </div>
                     <div class="button">
                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
<section class="download bg-primary text-center" id="download">
   <div class="container">
      <div class="row">
         <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Discover what all the buzz is about!</h2>
            <p>Our app is available on any mobile device! Download now to get started!</p>
            <ul class="text-dark">
               {% for item in items %}
                     <li>
                        <a href="{{ item.url }}">
                           {{ item.title }}
                        </a>
                     </li>
               {% endfor %}
            </ul>
         </div>
      </div>
   </div>
</section>
{% endblock %}